.elementor-23 .elementor-element.elementor-element-88d43e5 {
  --display: flex;
  --position: fixed;
  --flex-direction: row-reverse;
  --container-widget-width: calc((1 - var(--container-widget-flex-grow)) * 100%);
  --container-widget-height: 100%;
  --container-widget-flex-grow: 1;
  --container-widget-align-self: stretch;
  --flex-wrap-mobile: wrap-reverse;
  --align-items: flex-end;
  --gap: 20px 20px;
  --row-gap: 20px;
  --column-gap: 20px;
  --margin-top: 0px;
  --margin-bottom: 0px;
  --margin-left: 0px;
  --margin-right: 0px;
  --padding-top: 0px;
  --padding-bottom: 0px;
  --padding-left: 0px;
  --padding-right: 0px;
  bottom: 20px;
  --z-index: 99;
}
body:not(.rtl) .elementor-23 .elementor-element.elementor-element-88d43e5 {
  right: 20px;
}
body.rtl .elementor-23 .elementor-element.elementor-element-88d43e5 {
  left: 20px;
}
.elementor-23 .elementor-element.elementor-element-0489094 .elementor-button {
  background-color: var(--e-global-color-445bfed);
  font-family: var(--e-global-typography-9c5aacb-font-family), Sans-serif;
  font-size: var(--e-global-typography-9c5aacb-font-size);
  font-weight: var(--e-global-typography-9c5aacb-font-weight);
  text-transform: var(--e-global-typography-9c5aacb-text-transform);
  font-style: var(--e-global-typography-9c5aacb-font-style);
  text-decoration: var(--e-global-typography-9c5aacb-text-decoration);
  line-height: var(--e-global-typography-9c5aacb-line-height);
  letter-spacing: var(--e-global-typography-9c5aacb-letter-spacing);
  fill: var(--e-global-color-8235737);
  color: var(--e-global-color-8235737);
  border-radius: 0px 0px 0px 0px;
  padding: 10px 30px 10px 30px;
}
.elementor-23 .elementor-element.elementor-element-ecdaa8c .elementor-button {
  background-color: var(--e-global-color-0b546ce);
  font-family: var(--e-global-typography-9c5aacb-font-family), Sans-serif;
  font-size: var(--e-global-typography-9c5aacb-font-size);
  font-weight: var(--e-global-typography-9c5aacb-font-weight);
  text-transform: var(--e-global-typography-9c5aacb-text-transform);
  font-style: var(--e-global-typography-9c5aacb-font-style);
  text-decoration: var(--e-global-typography-9c5aacb-text-decoration);
  line-height: var(--e-global-typography-9c5aacb-line-height);
  letter-spacing: var(--e-global-typography-9c5aacb-letter-spacing);
  fill: var(--e-global-color-8235737);
  color: var(--e-global-color-8235737);
  border-radius: 0px 0px 0px 0px;
  padding: 10px 30px 10px 30px;
}
.elementor-23 .elementor-element.elementor-element-6ac822d3 {
  --display: flex;
  --flex-direction: column;
  --container-widget-width: 100%;
  --container-widget-height: initial;
  --container-widget-flex-grow: 0;
  --container-widget-align-self: initial;
  --flex-wrap-mobile: wrap;
  --gap: 0px 0px;
  --row-gap: 0px;
  --column-gap: 0px;
  --overflow: hidden;
  --overlay-opacity: 1;
  border-style: solid;
  --border-style: solid;
  border-width: 0px 20px 0px 20px;
  --border-top-width: 0px;
  --border-right-width: 20px;
  --border-bottom-width: 0px;
  --border-left-width: 20px;
  border-color: var(--e-global-color-a0fe96f);
  --border-color: var(--e-global-color-a0fe96f);
  --margin-top: 0px;
  --margin-bottom: 0px;
  --margin-left: 0px;
  --margin-right: 0px;
  --padding-top: 180px;
  --padding-bottom: 0px;
  --padding-left: 20px;
  --padding-right: 20px;
}
.elementor-23
  .elementor-element.elementor-element-6ac822d3:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-23
  .elementor-element.elementor-element-6ac822d3
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: var(--e-global-color-a0fe96f);
}
/* .elementor-23 .elementor-element.elementor-element-6ac822d3::before,
.elementor-23
  .elementor-element.elementor-element-6ac822d3
  > .elementor-background-video-container::before,
.elementor-23
  .elementor-element.elementor-element-6ac822d3
  > .e-con-inner
  > .elementor-background-video-container::before,
.elementor-23
  .elementor-element.elementor-element-6ac822d3
  > .elementor-background-slideshow::before,
.elementor-23
  .elementor-element.elementor-element-6ac822d3
  > .e-con-inner
  > .elementor-background-slideshow::before,
.elementor-23
  .elementor-element.elementor-element-6ac822d3
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer::before {
  --background-overlay: '';
} */
.elementor-23 .elementor-element.elementor-element-61cf8d7e {
  --display: flex;
  --position: absolute;
  --gap: 0px 0px;
  --row-gap: 0px;
  --column-gap: 0px;
  --margin-top: 0px;
  --margin-bottom: 0px;
  --margin-left: 0px;
  --margin-right: 0px;
  --padding-top: 0px;
  --padding-bottom: 0px;
  --padding-left: 0px;
  --padding-right: 0px;
  top: -1px;
}
body:not(.rtl) .elementor-23 .elementor-element.elementor-element-61cf8d7e {
  left: 0px;
}
body.rtl .elementor-23 .elementor-element.elementor-element-61cf8d7e {
  right: 0px;
}
.elementor-23 .elementor-element.elementor-element-1bc48ebb > .elementor-widget-container {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}
.elementor-23 .elementor-element.elementor-element-1bc48ebb {
  text-align: center;
}
.elementor-23 .elementor-element.elementor-element-1bc48ebb img {
  width: 100%;
}
.elementor-23 .elementor-element.elementor-element-15d629b5 {
  --display: flex;
  --flex-direction: column;
  --container-widget-width: 100%;
  --container-widget-height: initial;
  --container-widget-flex-grow: 0;
  --container-widget-align-self: initial;
  --flex-wrap-mobile: wrap;
  --gap: 20px 20px;
  --row-gap: 20px;
  --column-gap: 20px;
  --margin-top: 0px;
  --margin-bottom: 0px;
  --margin-left: 0px;
  --margin-right: 0px;
  --padding-top: 0px;
  --padding-bottom: 0px;
  --padding-left: 0px;
  --padding-right: 0px;
}
.elementor-23 .elementor-element.elementor-element-71c0ea1c {
  --display: flex;
  --flex-direction: row;
  --container-widget-width: calc((1 - var(--container-widget-flex-grow)) * 100%);
  --container-widget-height: 100%;
  --container-widget-flex-grow: 1;
  --container-widget-align-self: stretch;
  --flex-wrap-mobile: wrap;
  --align-items: flex-end;
  --gap: 20px 20px;
  --row-gap: 20px;
  --column-gap: 20px;
  --margin-top: 0px;
  --margin-bottom: 0px;
  --margin-left: 0px;
  --margin-right: 0px;
  --padding-top: 0px;
  --padding-bottom: 20px;
  --padding-left: 0px;
  --padding-right: 0px;
}
.elementor-23 .elementor-element.elementor-element-5e7db124 {
  --display: flex;
  --gap: 20px 20px;
  --row-gap: 20px;
  --column-gap: 20px;
  --margin-top: 0px;
  --margin-bottom: 0px;
  --margin-left: 0px;
  --margin-right: 0px;
  --padding-top: 0px;
  --padding-bottom: 0px;
  --padding-left: 0px;
  --padding-right: 0px;
}
.elementor-23 .elementor-element.elementor-element-bf17f91 .elementor-heading-title {
  font-family: var(--e-global-typography-0d42e32-font-family), Sans-serif;
  font-size: var(--e-global-typography-0d42e32-font-size);
  font-weight: var(--e-global-typography-0d42e32-font-weight);
  font-style: var(--e-global-typography-0d42e32-font-style);
  text-decoration: var(--e-global-typography-0d42e32-text-decoration);
  line-height: var(--e-global-typography-0d42e32-line-height);
  letter-spacing: var(--e-global-typography-0d42e32-letter-spacing);
  color: var(--e-global-color-d7d2315);
}
.elementor-23 .elementor-element.elementor-element-665773ae .elementor-heading-title {
  font-family: var(--e-global-typography-text-font-family), Sans-serif;
  font-size: var(--e-global-typography-text-font-size);
  font-weight: var(--e-global-typography-text-font-weight);
  text-transform: var(--e-global-typography-text-text-transform);
  font-style: var(--e-global-typography-text-font-style);
  text-decoration: var(--e-global-typography-text-text-decoration);
  line-height: var(--e-global-typography-text-line-height);
  letter-spacing: var(--e-global-typography-text-letter-spacing);
  color: var(--e-global-color-7a61029);
}
.elementor-23 .elementor-element.elementor-element-251d5f38 {
  --display: flex;
  --gap: 20px 20px;
  --row-gap: 20px;
  --column-gap: 20px;
  --margin-top: 0px;
  --margin-bottom: 0px;
  --margin-left: 0px;
  --margin-right: 0px;
  --padding-top: 0px;
  --padding-bottom: 0px;
  --padding-left: 0px;
  --padding-right: 0px;
}
.elementor-23 .elementor-element.elementor-element-66753672 .elementor-field-group {
  padding-right: calc(20px / 2);
  padding-left: calc(20px / 2);
  margin-bottom: 20px;
}
.elementor-23 .elementor-element.elementor-element-66753672 .elementor-form-fields-wrapper {
  margin-left: calc(-20px / 2);
  margin-right: calc(-20px / 2);
  margin-bottom: -20px;
}
.elementor-23
  .elementor-element.elementor-element-66753672
  .elementor-field-group.recaptcha_v3-bottomleft,
.elementor-23
  .elementor-element.elementor-element-66753672
  .elementor-field-group.recaptcha_v3-bottomright {
  margin-bottom: 0;
}
body.rtl
  .elementor-23
  .elementor-element.elementor-element-66753672
  .elementor-labels-inline
  .elementor-field-group
  > label {
  padding-left: 0px;
}
body:not(.rtl)
  .elementor-23
  .elementor-element.elementor-element-66753672
  .elementor-labels-inline
  .elementor-field-group
  > label {
  padding-right: 0px;
}
body
  .elementor-23
  .elementor-element.elementor-element-66753672
  .elementor-labels-above
  .elementor-field-group
  > label {
  padding-bottom: 0px;
}
.elementor-23 .elementor-element.elementor-element-66753672 .elementor-field-type-html {
  padding-bottom: 0px;
}
.elementor-23
  .elementor-element.elementor-element-66753672
  .elementor-field-group
  .elementor-field {
  color: var(--e-global-color-8235737);
}
.elementor-23 .elementor-element.elementor-element-66753672 .elementor-field-group .elementor-field,
.elementor-23 .elementor-element.elementor-element-66753672 .elementor-field-subgroup label {
  font-family: var(--e-global-typography-text-font-family), Sans-serif;
  font-size: var(--e-global-typography-text-font-size);
  font-weight: var(--e-global-typography-text-font-weight);
  text-transform: var(--e-global-typography-text-text-transform);
  font-style: var(--e-global-typography-text-font-style);
  text-decoration: var(--e-global-typography-text-text-decoration);
  line-height: var(--e-global-typography-text-line-height);
  letter-spacing: var(--e-global-typography-text-letter-spacing);
}
.elementor-23
  .elementor-element.elementor-element-66753672
  .elementor-field-group:not(.elementor-field-type-upload)
  .elementor-field:not(.elementor-select-wrapper) {
  background-color: var(--e-global-color-10a94b3);
  border-color: var(--e-global-color-d0bbac9);
  border-width: 0px 0px 1px 0px;
}
.elementor-23
  .elementor-element.elementor-element-66753672
  .elementor-field-group
  .elementor-select-wrapper
  select {
  background-color: var(--e-global-color-10a94b3);
  border-color: var(--e-global-color-d0bbac9);
  border-width: 0px 0px 1px 0px;
}
.elementor-23
  .elementor-element.elementor-element-66753672
  .elementor-field-group
  .elementor-select-wrapper::before {
  color: var(--e-global-color-d0bbac9);
}
.elementor-23 .elementor-element.elementor-element-66753672 .e-form__buttons__wrapper__button-next {
  color: var(--e-global-color-8c13cd4);
}
.elementor-23 .elementor-element.elementor-element-66753672 .elementor-button[type='submit'] {
  color: var(--e-global-color-8c13cd4);
}
.elementor-23 .elementor-element.elementor-element-66753672 .elementor-button[type='submit'] svg * {
  fill: var(--e-global-color-8c13cd4);
}
.elementor-23
  .elementor-element.elementor-element-66753672
  .e-form__buttons__wrapper__button-previous {
  color: var(--e-global-color-8c13cd4);
}
.elementor-23
  .elementor-element.elementor-element-66753672
  .e-form__buttons__wrapper__button-next:hover {
  color: #ffffff;
}
.elementor-23 .elementor-element.elementor-element-66753672 .elementor-button[type='submit']:hover {
  color: #ffffff;
}
.elementor-23
  .elementor-element.elementor-element-66753672
  .elementor-button[type='submit']:hover
  svg
  * {
  fill: #ffffff;
}
.elementor-23
  .elementor-element.elementor-element-66753672
  .e-form__buttons__wrapper__button-previous:hover {
  color: #ffffff;
}
.elementor-23 .elementor-element.elementor-element-66753672 .elementor-button {
  padding: 15px 0px 15px 0px;
}
.elementor-23 .elementor-element.elementor-element-66753672 {
  --e-form-steps-indicators-spacing: 20px;
  --e-form-steps-indicator-padding: 30px;
  --e-form-steps-indicator-inactive-secondary-color: #ffffff;
  --e-form-steps-indicator-active-secondary-color: #ffffff;
  --e-form-steps-indicator-completed-secondary-color: #ffffff;
  --e-form-steps-divider-width: 1px;
  --e-form-steps-divider-gap: 10px;
}
.elementor-23 .elementor-element.elementor-element-2d6a2706 {
  --display: flex;
  --flex-direction: column;
  --container-widget-width: 100%;
  --container-widget-height: initial;
  --container-widget-flex-grow: 0;
  --container-widget-align-self: initial;
  --flex-wrap-mobile: wrap;
  --gap: 20px 20px;
  --row-gap: 20px;
  --column-gap: 20px;
  border-style: solid;
  --border-style: solid;
  border-width: 0px 0px 0px 0px;
  --border-top-width: 0px;
  --border-right-width: 0px;
  --border-bottom-width: 0px;
  --border-left-width: 0px;
  border-color: var(--e-global-color-d0bbac9);
  --border-color: var(--e-global-color-d0bbac9);
  --margin-top: 0px;
  --margin-bottom: 0px;
  --margin-left: 0px;
  --margin-right: 0px;
  --padding-top: 0px;
  --padding-bottom: 0px;
  --padding-left: 0px;
  --padding-right: 0px;
}
.elementor-23 .elementor-element.elementor-element-697b35c8 {
  --display: flex;
  --flex-direction: row;
  --container-widget-width: initial;
  --container-widget-height: 100%;
  --container-widget-flex-grow: 1;
  --container-widget-align-self: stretch;
  --flex-wrap-mobile: wrap;
  --gap: 20px 20px;
  --row-gap: 20px;
  --column-gap: 20px;
  --margin-top: 0px;
  --margin-bottom: 0px;
  --margin-left: 0px;
  --margin-right: 0px;
  --padding-top: 60px;
  --padding-bottom: 60px;
  --padding-left: 0px;
  --padding-right: 0px;
}
.elementor-23 .elementor-element.elementor-element-17bb629c {
  --display: flex;
  --flex-direction: row;
  --container-widget-width: initial;
  --container-widget-height: 100%;
  --container-widget-flex-grow: 1;
  --container-widget-align-self: stretch;
  --flex-wrap-mobile: wrap;
  --gap: 20px 20px;
  --row-gap: 20px;
  --column-gap: 20px;
  --margin-top: 0px;
  --margin-bottom: 0px;
  --margin-left: 0px;
  --margin-right: 0px;
  --padding-top: 0px;
  --padding-bottom: 0px;
  --padding-left: 0px;
  --padding-right: 0px;
}
.elementor-23 .elementor-element.elementor-element-5f89bf5f {
  --display: flex;
  --gap: 20px 20px;
  --row-gap: 20px;
  --column-gap: 20px;
  --margin-top: 0px;
  --margin-bottom: 0px;
  --margin-left: 0px;
  --margin-right: 0px;
  --padding-top: 0px;
  --padding-bottom: 0px;
  --padding-left: 0px;
  --padding-right: 0px;
}
.elementor-23 .elementor-element.elementor-element-55aebe25 .elementor-heading-title {
  font-family: var(--e-global-typography-8c04063-font-family), Sans-serif;
  font-size: var(--e-global-typography-8c04063-font-size);
  font-weight: var(--e-global-typography-8c04063-font-weight);
  font-style: var(--e-global-typography-8c04063-font-style);
  text-decoration: var(--e-global-typography-8c04063-text-decoration);
  line-height: var(--e-global-typography-8c04063-line-height);
  letter-spacing: var(--e-global-typography-8c04063-letter-spacing);
  color: var(--e-global-color-d7d2315);
}
.elementor-23 .elementor-element.elementor-element-659658b6 .elementor-heading-title {
  font-family: var(--e-global-typography-text-font-family), Sans-serif;
  font-size: var(--e-global-typography-text-font-size);
  font-weight: var(--e-global-typography-text-font-weight);
  text-transform: var(--e-global-typography-text-text-transform);
  font-style: var(--e-global-typography-text-font-style);
  text-decoration: var(--e-global-typography-text-text-decoration);
  line-height: var(--e-global-typography-text-line-height);
  letter-spacing: var(--e-global-typography-text-letter-spacing);
  color: var(--e-global-color-7a61029);
}
.elementor-23 .elementor-element.elementor-element-521e0f2b {
  --display: flex;
  --flex-direction: row;
  --container-widget-width: initial;
  --container-widget-height: 100%;
  --container-widget-flex-grow: 1;
  --container-widget-align-self: stretch;
  --flex-wrap-mobile: wrap;
  --gap: 20px 20px;
  --row-gap: 20px;
  --column-gap: 20px;
  --margin-top: 10px;
  --margin-bottom: 0px;
  --margin-left: 0px;
  --margin-right: 0px;
  --padding-top: 0px;
  --padding-bottom: 0px;
  --padding-left: 0px;
  --padding-right: 0px;
}
.elementor-23 .elementor-element.elementor-element-7bc8c643 > .elementor-widget-container {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}
.elementor-23 .elementor-element.elementor-element-7bc8c643 .elementor-icon-wrapper {
  text-align: center;
}
.elementor-23 .elementor-element.elementor-element-7bc8c643.elementor-view-stacked .elementor-icon {
  background-color: var(--e-global-color-ebbf1d8);
  color: var(--e-global-color-4f4b866);
}
.elementor-23 .elementor-element.elementor-element-7bc8c643.elementor-view-framed .elementor-icon,
.elementor-23 .elementor-element.elementor-element-7bc8c643.elementor-view-default .elementor-icon {
  color: var(--e-global-color-ebbf1d8);
  border-color: var(--e-global-color-ebbf1d8);
}
.elementor-23 .elementor-element.elementor-element-7bc8c643.elementor-view-framed .elementor-icon,
.elementor-23
  .elementor-element.elementor-element-7bc8c643.elementor-view-default
  .elementor-icon
  svg {
  fill: var(--e-global-color-ebbf1d8);
}
.elementor-23 .elementor-element.elementor-element-7bc8c643.elementor-view-framed .elementor-icon {
  background-color: var(--e-global-color-4f4b866);
}
.elementor-23
  .elementor-element.elementor-element-7bc8c643.elementor-view-stacked
  .elementor-icon
  svg {
  fill: var(--e-global-color-4f4b866);
}
.elementor-23 .elementor-element.elementor-element-7bc8c643 .elementor-icon {
  font-size: 20px;
  padding: 15px;
}
.elementor-23 .elementor-element.elementor-element-7bc8c643 .elementor-icon svg {
  height: 20px;
}
.elementor-23 .elementor-element.elementor-element-65b0bed5 {
  --display: flex;
  --flex-direction: column;
  --container-widget-width: 100%;
  --container-widget-height: initial;
  --container-widget-flex-grow: 0;
  --container-widget-align-self: initial;
  --flex-wrap-mobile: wrap;
  --gap: 5px 5px;
  --row-gap: 5px;
  --column-gap: 5px;
  --margin-top: 0px;
  --margin-bottom: 0px;
  --margin-left: 0px;
  --margin-right: 0px;
  --padding-top: 0px;
  --padding-bottom: 0px;
  --padding-left: 0px;
  --padding-right: 0px;
}
.elementor-23 .elementor-element.elementor-element-2f97fd9f {
  text-align: left;
}
.elementor-23 .elementor-element.elementor-element-2f97fd9f .elementor-heading-title {
  font-family: var(--e-global-typography-text-font-family), Sans-serif;
  font-size: var(--e-global-typography-text-font-size);
  font-weight: var(--e-global-typography-text-font-weight);
  text-transform: var(--e-global-typography-text-text-transform);
  font-style: var(--e-global-typography-text-font-style);
  text-decoration: var(--e-global-typography-text-text-decoration);
  line-height: var(--e-global-typography-text-line-height);
  letter-spacing: var(--e-global-typography-text-letter-spacing);
  color: var(--e-global-color-8235737);
}
.elementor-23 .elementor-element.elementor-element-115ef1fe > .elementor-widget-container {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}
.elementor-23 .elementor-element.elementor-element-115ef1fe {
  text-align: left;
}
.elementor-23 .elementor-element.elementor-element-115ef1fe .elementor-heading-title {
  font-family: var(--e-global-typography-3b0f9a8-font-family), Sans-serif;
  font-size: var(--e-global-typography-3b0f9a8-font-size);
  font-weight: var(--e-global-typography-3b0f9a8-font-weight);
  font-style: var(--e-global-typography-3b0f9a8-font-style);
  text-decoration: var(--e-global-typography-3b0f9a8-text-decoration);
  line-height: var(--e-global-typography-3b0f9a8-line-height);
  letter-spacing: var(--e-global-typography-3b0f9a8-letter-spacing);
  color: var(--e-global-color-8235737);
}
.elementor-23 .elementor-element.elementor-element-20e19595 {
  --display: flex;
  --gap: 20px 20px;
  --row-gap: 20px;
  --column-gap: 20px;
  --margin-top: 0px;
  --margin-bottom: 0px;
  --margin-left: 0px;
  --margin-right: 0px;
  --padding-top: 0px;
  --padding-bottom: 0px;
  --padding-left: 0px;
  --padding-right: 0px;
}
.elementor-23 .elementor-element.elementor-element-2a646bc6 .elementor-heading-title {
  font-family: var(--e-global-typography-8c04063-font-family), Sans-serif;
  font-size: var(--e-global-typography-8c04063-font-size);
  font-weight: var(--e-global-typography-8c04063-font-weight);
  font-style: var(--e-global-typography-8c04063-font-style);
  text-decoration: var(--e-global-typography-8c04063-text-decoration);
  line-height: var(--e-global-typography-8c04063-line-height);
  letter-spacing: var(--e-global-typography-8c04063-letter-spacing);
  color: var(--e-global-color-d7d2315);
}
.elementor-23 .elementor-element.elementor-element-2b7aa0b0 > .elementor-widget-container {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}
.elementor-23
  .elementor-element.elementor-element-2b7aa0b0
  .elementor-icon-list-items:not(.elementor-inline-items)
  .elementor-icon-list-item:not(:last-child) {
  padding-bottom: calc(15px / 2);
}
.elementor-23
  .elementor-element.elementor-element-2b7aa0b0
  .elementor-icon-list-items:not(.elementor-inline-items)
  .elementor-icon-list-item:not(:first-child) {
  margin-top: calc(15px / 2);
}
.elementor-23
  .elementor-element.elementor-element-2b7aa0b0
  .elementor-icon-list-items.elementor-inline-items
  .elementor-icon-list-item {
  margin-right: calc(15px / 2);
  margin-left: calc(15px / 2);
}
.elementor-23
  .elementor-element.elementor-element-2b7aa0b0
  .elementor-icon-list-items.elementor-inline-items {
  margin-right: calc(-15px / 2);
  margin-left: calc(-15px / 2);
}
body.rtl
  .elementor-23
  .elementor-element.elementor-element-2b7aa0b0
  .elementor-icon-list-items.elementor-inline-items
  .elementor-icon-list-item:after {
  left: calc(-15px / 2);
}
body:not(.rtl)
  .elementor-23
  .elementor-element.elementor-element-2b7aa0b0
  .elementor-icon-list-items.elementor-inline-items
  .elementor-icon-list-item:after {
  right: calc(-15px / 2);
}
.elementor-23
  .elementor-element.elementor-element-2b7aa0b0
  .elementor-icon-list-item:not(:last-child):after {
  content: '';
  width: 100%;
  border-color: var(--e-global-color-d0bbac9);
}
.elementor-23
  .elementor-element.elementor-element-2b7aa0b0
  .elementor-icon-list-items:not(.elementor-inline-items)
  .elementor-icon-list-item:not(:last-child):after {
  border-top-style: solid;
  border-top-width: 0px;
}
.elementor-23
  .elementor-element.elementor-element-2b7aa0b0
  .elementor-icon-list-items.elementor-inline-items
  .elementor-icon-list-item:not(:last-child):after {
  border-left-style: solid;
}
.elementor-23
  .elementor-element.elementor-element-2b7aa0b0
  .elementor-inline-items
  .elementor-icon-list-item:not(:last-child):after {
  border-left-width: 0px;
}
.elementor-23 .elementor-element.elementor-element-2b7aa0b0 .elementor-icon-list-icon i {
  color: var(--e-global-color-445bfed);
  transition: color 0.3s;
}
.elementor-23 .elementor-element.elementor-element-2b7aa0b0 .elementor-icon-list-icon svg {
  fill: var(--e-global-color-445bfed);
  transition: fill 0.3s;
}
.elementor-23
  .elementor-element.elementor-element-2b7aa0b0
  .elementor-icon-list-item:hover
  .elementor-icon-list-icon
  i {
  color: var(--e-global-color-445bfed);
}
.elementor-23
  .elementor-element.elementor-element-2b7aa0b0
  .elementor-icon-list-item:hover
  .elementor-icon-list-icon
  svg {
  fill: var(--e-global-color-445bfed);
}
.elementor-23 .elementor-element.elementor-element-2b7aa0b0 {
  --e-icon-list-icon-size: 14px;
  --e-icon-list-icon-align: center;
  --e-icon-list-icon-margin: 0 calc(var(--e-icon-list-icon-size, 1em) * 0.125);
  --icon-vertical-align: center;
  --icon-vertical-offset: 0px;
}
.elementor-23 .elementor-element.elementor-element-2b7aa0b0 .elementor-icon-list-icon {
  padding-right: 0px;
}
.elementor-23
  .elementor-element.elementor-element-2b7aa0b0
  .elementor-icon-list-item
  > .elementor-icon-list-text,
.elementor-23 .elementor-element.elementor-element-2b7aa0b0 .elementor-icon-list-item > a {
  font-family: var(--e-global-typography-text-font-family), Sans-serif;
  font-size: var(--e-global-typography-text-font-size);
  font-weight: var(--e-global-typography-text-font-weight);
  text-transform: var(--e-global-typography-text-text-transform);
  font-style: var(--e-global-typography-text-font-style);
  text-decoration: var(--e-global-typography-text-text-decoration);
  line-height: var(--e-global-typography-text-line-height);
  letter-spacing: var(--e-global-typography-text-letter-spacing);
}
.elementor-23 .elementor-element.elementor-element-2b7aa0b0 .elementor-icon-list-text {
  color: var(--e-global-color-7a61029);
  transition: color 0.3s;
}
.elementor-23
  .elementor-element.elementor-element-2b7aa0b0
  .elementor-icon-list-item:hover
  .elementor-icon-list-text {
  color: var(--e-global-color-8235737);
}
.elementor-23 .elementor-element.elementor-element-661c92d9 {
  --display: flex;
  --flex-direction: row;
  --container-widget-width: initial;
  --container-widget-height: 100%;
  --container-widget-flex-grow: 1;
  --container-widget-align-self: stretch;
  --flex-wrap-mobile: wrap;
  --gap: 20px 20px;
  --row-gap: 20px;
  --column-gap: 20px;
  --margin-top: 0px;
  --margin-bottom: 0px;
  --margin-left: 0px;
  --margin-right: 0px;
  --padding-top: 0px;
  --padding-bottom: 0px;
  --padding-left: 0px;
  --padding-right: 0px;
}
.elementor-23 .elementor-element.elementor-element-370dbc7 {
  --display: flex;
  --gap: 20px 20px;
  --row-gap: 20px;
  --column-gap: 20px;
  --margin-top: 0px;
  --margin-bottom: 0px;
  --margin-left: 0px;
  --margin-right: 0px;
  --padding-top: 0px;
  --padding-bottom: 0px;
  --padding-left: 0px;
  --padding-right: 0px;
}
.elementor-23 .elementor-element.elementor-element-424bc1a5 .elementor-heading-title {
  font-family: var(--e-global-typography-8c04063-font-family), Sans-serif;
  font-size: var(--e-global-typography-8c04063-font-size);
  font-weight: var(--e-global-typography-8c04063-font-weight);
  font-style: var(--e-global-typography-8c04063-font-style);
  text-decoration: var(--e-global-typography-8c04063-text-decoration);
  line-height: var(--e-global-typography-8c04063-line-height);
  letter-spacing: var(--e-global-typography-8c04063-letter-spacing);
  color: var(--e-global-color-d7d2315);
}
.elementor-23 .elementor-element.elementor-element-6db998d2 > .elementor-widget-container {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}
.elementor-23
  .elementor-element.elementor-element-6db998d2
  .elementor-icon-list-items:not(.elementor-inline-items)
  .elementor-icon-list-item:not(:last-child) {
  padding-bottom: calc(15px / 2);
}
.elementor-23
  .elementor-element.elementor-element-6db998d2
  .elementor-icon-list-items:not(.elementor-inline-items)
  .elementor-icon-list-item:not(:first-child) {
  margin-top: calc(15px / 2);
}
.elementor-23
  .elementor-element.elementor-element-6db998d2
  .elementor-icon-list-items.elementor-inline-items
  .elementor-icon-list-item {
  margin-right: calc(15px / 2);
  margin-left: calc(15px / 2);
}
.elementor-23
  .elementor-element.elementor-element-6db998d2
  .elementor-icon-list-items.elementor-inline-items {
  margin-right: calc(-15px / 2);
  margin-left: calc(-15px / 2);
}
body.rtl
  .elementor-23
  .elementor-element.elementor-element-6db998d2
  .elementor-icon-list-items.elementor-inline-items
  .elementor-icon-list-item:after {
  left: calc(-15px / 2);
}
body:not(.rtl)
  .elementor-23
  .elementor-element.elementor-element-6db998d2
  .elementor-icon-list-items.elementor-inline-items
  .elementor-icon-list-item:after {
  right: calc(-15px / 2);
}
.elementor-23
  .elementor-element.elementor-element-6db998d2
  .elementor-icon-list-item:not(:last-child):after {
  content: '';
  width: 100%;
  border-color: var(--e-global-color-d0bbac9);
}
.elementor-23
  .elementor-element.elementor-element-6db998d2
  .elementor-icon-list-items:not(.elementor-inline-items)
  .elementor-icon-list-item:not(:last-child):after {
  border-top-style: solid;
  border-top-width: 0px;
}
.elementor-23
  .elementor-element.elementor-element-6db998d2
  .elementor-icon-list-items.elementor-inline-items
  .elementor-icon-list-item:not(:last-child):after {
  border-left-style: solid;
}
.elementor-23
  .elementor-element.elementor-element-6db998d2
  .elementor-inline-items
  .elementor-icon-list-item:not(:last-child):after {
  border-left-width: 0px;
}
.elementor-23 .elementor-element.elementor-element-6db998d2 .elementor-icon-list-icon i {
  color: var(--e-global-color-445bfed);
  transition: color 0.3s;
}
.elementor-23 .elementor-element.elementor-element-6db998d2 .elementor-icon-list-icon svg {
  fill: var(--e-global-color-445bfed);
  transition: fill 0.3s;
}
.elementor-23
  .elementor-element.elementor-element-6db998d2
  .elementor-icon-list-item:hover
  .elementor-icon-list-icon
  i {
  color: var(--e-global-color-445bfed);
}
.elementor-23
  .elementor-element.elementor-element-6db998d2
  .elementor-icon-list-item:hover
  .elementor-icon-list-icon
  svg {
  fill: var(--e-global-color-445bfed);
}
.elementor-23 .elementor-element.elementor-element-6db998d2 {
  --e-icon-list-icon-size: 14px;
  --e-icon-list-icon-align: center;
  --e-icon-list-icon-margin: 0 calc(var(--e-icon-list-icon-size, 1em) * 0.125);
  --icon-vertical-align: center;
  --icon-vertical-offset: 0px;
}
.elementor-23 .elementor-element.elementor-element-6db998d2 .elementor-icon-list-icon {
  padding-right: 0px;
}
.elementor-23
  .elementor-element.elementor-element-6db998d2
  .elementor-icon-list-item
  > .elementor-icon-list-text,
.elementor-23 .elementor-element.elementor-element-6db998d2 .elementor-icon-list-item > a {
  font-family: var(--e-global-typography-text-font-family), Sans-serif;
  font-size: var(--e-global-typography-text-font-size);
  font-weight: var(--e-global-typography-text-font-weight);
  text-transform: var(--e-global-typography-text-text-transform);
  font-style: var(--e-global-typography-text-font-style);
  text-decoration: var(--e-global-typography-text-text-decoration);
  line-height: var(--e-global-typography-text-line-height);
  letter-spacing: var(--e-global-typography-text-letter-spacing);
}
.elementor-23 .elementor-element.elementor-element-6db998d2 .elementor-icon-list-text {
  color: var(--e-global-color-7a61029);
  transition: color 0.3s;
}
.elementor-23
  .elementor-element.elementor-element-6db998d2
  .elementor-icon-list-item:hover
  .elementor-icon-list-text {
  color: var(--e-global-color-8235737);
}
.elementor-23 .elementor-element.elementor-element-6f28216b {
  --display: flex;
  --gap: 20px 20px;
  --row-gap: 20px;
  --column-gap: 20px;
  --margin-top: 0px;
  --margin-bottom: 0px;
  --margin-left: 0px;
  --margin-right: 0px;
  --padding-top: 0px;
  --padding-bottom: 0px;
  --padding-left: 0px;
  --padding-right: 0px;
}
.elementor-23 .elementor-element.elementor-element-101b93e3 .elementor-heading-title {
  font-family: var(--e-global-typography-8c04063-font-family), Sans-serif;
  font-size: var(--e-global-typography-8c04063-font-size);
  font-weight: var(--e-global-typography-8c04063-font-weight);
  font-style: var(--e-global-typography-8c04063-font-style);
  text-decoration: var(--e-global-typography-8c04063-text-decoration);
  line-height: var(--e-global-typography-8c04063-line-height);
  letter-spacing: var(--e-global-typography-8c04063-letter-spacing);
  color: var(--e-global-color-d7d2315);
}
.elementor-23 .elementor-element.elementor-element-28ae179c {
  --grid-row-gap: 15px;
  --grid-column-gap: 20px;
}
.elementor-23
  .elementor-element.elementor-element-28ae179c
  .elementor-posts-container
  .elementor-post__thumbnail {
  padding-bottom: calc(1 * 100%);
}
.elementor-23 .elementor-element.elementor-element-28ae179c:after {
  content: '1';
}
.elementor-23 .elementor-element.elementor-element-28ae179c .elementor-post__thumbnail__link {
  width: 25%;
}
.elementor-23 .elementor-element.elementor-element-28ae179c .elementor-post__thumbnail {
  border-radius: 0px 0px 0px 0px;
}
.elementor-23
  .elementor-element.elementor-element-28ae179c.elementor-posts--thumbnail-left
  .elementor-post__thumbnail__link {
  margin-right: 20px;
}
.elementor-23
  .elementor-element.elementor-element-28ae179c.elementor-posts--thumbnail-right
  .elementor-post__thumbnail__link {
  margin-left: 20px;
}
.elementor-23
  .elementor-element.elementor-element-28ae179c.elementor-posts--thumbnail-top
  .elementor-post__thumbnail__link {
  margin-bottom: 20px;
}
.elementor-23
  .elementor-element.elementor-element-28ae179c
  .elementor-post:hover
  .elementor-post__thumbnail
  img {
  filter: brightness(100%) contrast(100%) saturate(0%) blur(0px) hue-rotate(0deg);
}
.elementor-23 .elementor-element.elementor-element-28ae179c .elementor-post__title,
.elementor-23 .elementor-element.elementor-element-28ae179c .elementor-post__title a {
  color: var(--e-global-color-d7d2315);
  font-family: var(--e-global-typography-3b0f9a8-font-family), Sans-serif;
  font-size: var(--e-global-typography-3b0f9a8-font-size);
  font-weight: var(--e-global-typography-3b0f9a8-font-weight);
  font-style: var(--e-global-typography-3b0f9a8-font-style);
  text-decoration: var(--e-global-typography-3b0f9a8-text-decoration);
  line-height: var(--e-global-typography-3b0f9a8-line-height);
  letter-spacing: var(--e-global-typography-3b0f9a8-letter-spacing);
}
.elementor-23 .elementor-element.elementor-element-28ae179c .elementor-post__title {
  margin-bottom: 15px;
}
.elementor-23 .elementor-element.elementor-element-28ae179c .elementor-post__excerpt p {
  color: var(--e-global-color-7a61029);
  font-family: var(--e-global-typography-text-font-family), Sans-serif;
  font-size: var(--e-global-typography-text-font-size);
  font-weight: var(--e-global-typography-text-font-weight);
  text-transform: var(--e-global-typography-text-text-transform);
  font-style: var(--e-global-typography-text-font-style);
  text-decoration: var(--e-global-typography-text-text-decoration);
  line-height: var(--e-global-typography-text-line-height);
  letter-spacing: var(--e-global-typography-text-letter-spacing);
}
.elementor-23 .elementor-element.elementor-element-28ae179c .elementor-post__excerpt {
  margin-bottom: 15px;
}
.elementor-23 .elementor-element.elementor-element-10fbac04 {
  --display: flex;
  --flex-direction: column;
  --container-widget-width: 100%;
  --container-widget-height: initial;
  --container-widget-flex-grow: 0;
  --container-widget-align-self: initial;
  --flex-wrap-mobile: wrap;
  --gap: 20px 20px;
  --row-gap: 20px;
  --column-gap: 20px;
  --margin-top: 0px;
  --margin-bottom: 0px;
  --margin-left: 0px;
  --margin-right: 0px;
  --padding-top: 0px;
  --padding-bottom: 0px;
  --padding-left: 0px;
  --padding-right: 0px;
}
.elementor-23 .elementor-element.elementor-element-2d82ff50 {
  --display: flex;
  --flex-direction: row;
  --container-widget-width: calc((1 - var(--container-widget-flex-grow)) * 100%);
  --container-widget-height: 100%;
  --container-widget-flex-grow: 1;
  --container-widget-align-self: stretch;
  --flex-wrap-mobile: wrap;
  --align-items: center;
  --gap: 20px 20px;
  --row-gap: 20px;
  --column-gap: 20px;
  --margin-top: 0px;
  --margin-bottom: 0px;
  --margin-left: 0px;
  --margin-right: 0px;
  --padding-top: 0px;
  --padding-bottom: 20px;
  --padding-left: 0px;
  --padding-right: 0px;
}
.elementor-23 .elementor-element.elementor-element-53fd2317 {
  --display: flex;
  --gap: 20px 20px;
  --row-gap: 20px;
  --column-gap: 20px;
  --margin-top: 0px;
  --margin-bottom: 0px;
  --margin-left: 0px;
  --margin-right: 0px;
  --padding-top: 0px;
  --padding-bottom: 0px;
  --padding-left: 0px;
  --padding-right: 0px;
}
.elementor-23 .elementor-element.elementor-element-333ccb52 {
  text-align: left;
}
.elementor-23 .elementor-element.elementor-element-333ccb52 img {
  width: 180px;
}
.elementor-23 .elementor-element.elementor-element-3c93fbde {
  --display: flex;
  --gap: 20px 20px;
  --row-gap: 20px;
  --column-gap: 20px;
  --margin-top: 0px;
  --margin-bottom: 0px;
  --margin-left: 0px;
  --margin-right: 0px;
  --padding-top: 0px;
  --padding-bottom: 0px;
  --padding-left: 0px;
  --padding-right: 0px;
}
.elementor-23
  .elementor-element.elementor-element-5dae2f09
  .elementor-icon-list-items:not(.elementor-inline-items)
  .elementor-icon-list-item:not(:last-child) {
  padding-bottom: calc(20px / 2);
}
.elementor-23
  .elementor-element.elementor-element-5dae2f09
  .elementor-icon-list-items:not(.elementor-inline-items)
  .elementor-icon-list-item:not(:first-child) {
  margin-top: calc(20px / 2);
}
.elementor-23
  .elementor-element.elementor-element-5dae2f09
  .elementor-icon-list-items.elementor-inline-items
  .elementor-icon-list-item {
  margin-right: calc(20px / 2);
  margin-left: calc(20px / 2);
}
.elementor-23
  .elementor-element.elementor-element-5dae2f09
  .elementor-icon-list-items.elementor-inline-items {
  margin-right: calc(-20px / 2);
  margin-left: calc(-20px / 2);
}
body.rtl
  .elementor-23
  .elementor-element.elementor-element-5dae2f09
  .elementor-icon-list-items.elementor-inline-items
  .elementor-icon-list-item:after {
  left: calc(-20px / 2);
}
body:not(.rtl)
  .elementor-23
  .elementor-element.elementor-element-5dae2f09
  .elementor-icon-list-items.elementor-inline-items
  .elementor-icon-list-item:after {
  right: calc(-20px / 2);
}
.elementor-23 .elementor-element.elementor-element-5dae2f09 .elementor-icon-list-icon i {
  color: var(--e-global-color-445bfed);
  transition: color 0.3s;
}
.elementor-23 .elementor-element.elementor-element-5dae2f09 .elementor-icon-list-icon svg {
  fill: var(--e-global-color-445bfed);
  transition: fill 0.3s;
}
.elementor-23 .elementor-element.elementor-element-5dae2f09 {
  --e-icon-list-icon-size: 5px;
  --icon-vertical-offset: 0px;
}
.elementor-23 .elementor-element.elementor-element-5dae2f09 .elementor-icon-list-icon {
  padding-right: 20px;
}
.elementor-23
  .elementor-element.elementor-element-5dae2f09
  .elementor-icon-list-item
  > .elementor-icon-list-text,
.elementor-23 .elementor-element.elementor-element-5dae2f09 .elementor-icon-list-item > a {
  font-family: var(--e-global-typography-c14f5c3-font-family), Sans-serif;
  font-size: var(--e-global-typography-c14f5c3-font-size);
  font-weight: var(--e-global-typography-c14f5c3-font-weight);
  text-transform: var(--e-global-typography-c14f5c3-text-transform);
  font-style: var(--e-global-typography-c14f5c3-font-style);
  text-decoration: var(--e-global-typography-c14f5c3-text-decoration);
  line-height: var(--e-global-typography-c14f5c3-line-height);
  letter-spacing: var(--e-global-typography-c14f5c3-letter-spacing);
}
.elementor-23 .elementor-element.elementor-element-5dae2f09 .elementor-icon-list-text {
  color: var(--e-global-color-8235737);
  transition: color 0.3s;
}
.elementor-23 .elementor-element.elementor-element-4aea878e {
  --display: flex;
  --gap: 20px 20px;
  --row-gap: 20px;
  --column-gap: 20px;
  --margin-top: 0px;
  --margin-bottom: 0px;
  --margin-left: 0px;
  --margin-right: 0px;
  --padding-top: 0px;
  --padding-bottom: 0px;
  --padding-left: 0px;
  --padding-right: 0px;
}
.elementor-23 .elementor-element.elementor-element-575cd1e7 {
  --grid-template-columns: repeat(0, auto);
  --icon-size: 12px;
  --grid-column-gap: 10px;
  --grid-row-gap: 0px;
}
.elementor-23 .elementor-element.elementor-element-575cd1e7 .elementor-widget-container {
  text-align: right;
}
.elementor-23 .elementor-element.elementor-element-575cd1e7 .elementor-social-icon {
  background-color: var(--e-global-color-ebbf1d8);
  --icon-padding: 0.5em;
}
.elementor-23 .elementor-element.elementor-element-575cd1e7 .elementor-social-icon i {
  color: var(--e-global-color-4f4b866);
}
.elementor-23 .elementor-element.elementor-element-575cd1e7 .elementor-social-icon svg {
  fill: var(--e-global-color-4f4b866);
}
.elementor-theme-builder-content-area {
  height: 400px;
}
/* .elementor-location-header:before,
.elementor-location-footer:before {
  content: '';
  display: table;
  clear: both;
} */
@media (max-width: 1024px) {
  .elementor-23 .elementor-element.elementor-element-0489094 .elementor-button {
    font-size: var(--e-global-typography-9c5aacb-font-size);
    line-height: var(--e-global-typography-9c5aacb-line-height);
    letter-spacing: var(--e-global-typography-9c5aacb-letter-spacing);
  }
  .elementor-23 .elementor-element.elementor-element-ecdaa8c .elementor-button {
    font-size: var(--e-global-typography-9c5aacb-font-size);
    line-height: var(--e-global-typography-9c5aacb-line-height);
    letter-spacing: var(--e-global-typography-9c5aacb-letter-spacing);
  }
  .elementor-23 .elementor-element.elementor-element-6ac822d3 {
    border-width: 0px 0px 0px 0px;
    --border-top-width: 0px;
    --border-right-width: 0px;
    --border-bottom-width: 0px;
    --border-left-width: 0px;
  }
  .elementor-23 .elementor-element.elementor-element-71c0ea1c {
    --flex-direction: column;
    --container-widget-width: calc((1 - var(--container-widget-flex-grow)) * 100%);
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --flex-wrap-mobile: wrap;
    --align-items: center;
  }
  .elementor-23 .elementor-element.elementor-element-bf17f91 {
    text-align: start;
  }
  .elementor-23 .elementor-element.elementor-element-bf17f91 .elementor-heading-title {
    font-size: var(--e-global-typography-0d42e32-font-size);
    line-height: var(--e-global-typography-0d42e32-line-height);
    letter-spacing: var(--e-global-typography-0d42e32-letter-spacing);
  }
  .elementor-23 .elementor-element.elementor-element-665773ae {
    text-align: start;
  }
  .elementor-23 .elementor-element.elementor-element-665773ae .elementor-heading-title {
    font-size: var(--e-global-typography-text-font-size);
    line-height: var(--e-global-typography-text-line-height);
    letter-spacing: var(--e-global-typography-text-letter-spacing);
  }
  .elementor-23
    .elementor-element.elementor-element-66753672
    .elementor-field-group
    .elementor-field,
  .elementor-23 .elementor-element.elementor-element-66753672 .elementor-field-subgroup label {
    font-size: var(--e-global-typography-text-font-size);
    line-height: var(--e-global-typography-text-line-height);
    letter-spacing: var(--e-global-typography-text-letter-spacing);
  }
  .elementor-23 .elementor-element.elementor-element-697b35c8 {
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --flex-wrap-mobile: wrap;
    --gap: 60px 60px;
    --row-gap: 60px;
    --column-gap: 60px;
  }
  .elementor-23 .elementor-element.elementor-element-55aebe25 {
    text-align: start;
  }
  .elementor-23 .elementor-element.elementor-element-55aebe25 .elementor-heading-title {
    font-size: var(--e-global-typography-8c04063-font-size);
    line-height: var(--e-global-typography-8c04063-line-height);
    letter-spacing: var(--e-global-typography-8c04063-letter-spacing);
  }
  .elementor-23 .elementor-element.elementor-element-659658b6 {
    text-align: justify;
  }
  .elementor-23 .elementor-element.elementor-element-659658b6 .elementor-heading-title {
    font-size: var(--e-global-typography-text-font-size);
    line-height: var(--e-global-typography-text-line-height);
    letter-spacing: var(--e-global-typography-text-letter-spacing);
  }
  .elementor-23 .elementor-element.elementor-element-521e0f2b {
    --justify-content: start;
    --align-items: center;
    --container-widget-width: calc((1 - var(--container-widget-flex-grow)) * 100%);
  }
  .elementor-23 .elementor-element.elementor-element-2f97fd9f .elementor-heading-title {
    font-size: var(--e-global-typography-text-font-size);
    line-height: var(--e-global-typography-text-line-height);
    letter-spacing: var(--e-global-typography-text-letter-spacing);
  }
  .elementor-23 .elementor-element.elementor-element-115ef1fe .elementor-heading-title {
    font-size: var(--e-global-typography-3b0f9a8-font-size);
    line-height: var(--e-global-typography-3b0f9a8-line-height);
    letter-spacing: var(--e-global-typography-3b0f9a8-letter-spacing);
  }
  .elementor-23 .elementor-element.elementor-element-2a646bc6 {
    text-align: start;
  }
  .elementor-23 .elementor-element.elementor-element-2a646bc6 .elementor-heading-title {
    font-size: var(--e-global-typography-8c04063-font-size);
    line-height: var(--e-global-typography-8c04063-line-height);
    letter-spacing: var(--e-global-typography-8c04063-letter-spacing);
  }
  .elementor-23
    .elementor-element.elementor-element-2b7aa0b0
    .elementor-icon-list-item
    > .elementor-icon-list-text,
  .elementor-23 .elementor-element.elementor-element-2b7aa0b0 .elementor-icon-list-item > a {
    font-size: var(--e-global-typography-text-font-size);
    line-height: var(--e-global-typography-text-line-height);
    letter-spacing: var(--e-global-typography-text-letter-spacing);
  }
  .elementor-23 .elementor-element.elementor-element-424bc1a5 {
    text-align: start;
  }
  .elementor-23 .elementor-element.elementor-element-424bc1a5 .elementor-heading-title {
    font-size: var(--e-global-typography-8c04063-font-size);
    line-height: var(--e-global-typography-8c04063-line-height);
    letter-spacing: var(--e-global-typography-8c04063-letter-spacing);
  }
  .elementor-23
    .elementor-element.elementor-element-6db998d2
    .elementor-icon-list-item
    > .elementor-icon-list-text,
  .elementor-23 .elementor-element.elementor-element-6db998d2 .elementor-icon-list-item > a {
    font-size: var(--e-global-typography-text-font-size);
    line-height: var(--e-global-typography-text-line-height);
    letter-spacing: var(--e-global-typography-text-letter-spacing);
  }
  .elementor-23 .elementor-element.elementor-element-101b93e3 {
    text-align: center;
  }
  .elementor-23 .elementor-element.elementor-element-101b93e3 .elementor-heading-title {
    font-size: var(--e-global-typography-8c04063-font-size);
    line-height: var(--e-global-typography-8c04063-line-height);
    letter-spacing: var(--e-global-typography-8c04063-letter-spacing);
  }
  .elementor-23 .elementor-element.elementor-element-28ae179c .elementor-post__title,
  .elementor-23 .elementor-element.elementor-element-28ae179c .elementor-post__title a {
    font-size: var(--e-global-typography-3b0f9a8-font-size);
    line-height: var(--e-global-typography-3b0f9a8-line-height);
    letter-spacing: var(--e-global-typography-3b0f9a8-letter-spacing);
  }
  .elementor-23 .elementor-element.elementor-element-28ae179c .elementor-post__excerpt p {
    font-size: var(--e-global-typography-text-font-size);
    line-height: var(--e-global-typography-text-line-height);
    letter-spacing: var(--e-global-typography-text-letter-spacing);
  }
  .elementor-23 .elementor-element.elementor-element-2d82ff50 {
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --flex-wrap-mobile: wrap;
    --padding-top: 40px;
    --padding-bottom: 40px;
    --padding-left: 0px;
    --padding-right: 0px;
  }
  .elementor-23 .elementor-element.elementor-element-333ccb52 {
    text-align: center;
  }
  .elementor-23
    .elementor-element.elementor-element-5dae2f09
    .elementor-icon-list-item
    > .elementor-icon-list-text,
  .elementor-23 .elementor-element.elementor-element-5dae2f09 .elementor-icon-list-item > a {
    font-size: var(--e-global-typography-c14f5c3-font-size);
    line-height: var(--e-global-typography-c14f5c3-line-height);
    letter-spacing: var(--e-global-typography-c14f5c3-letter-spacing);
  }
  .elementor-23 .elementor-element.elementor-element-575cd1e7 .elementor-widget-container {
    text-align: center;
  }
}
@media (max-width: 767px) {
  .elementor-23 .elementor-element.elementor-element-0489094 .elementor-button {
    font-size: var(--e-global-typography-9c5aacb-font-size);
    line-height: var(--e-global-typography-9c5aacb-line-height);
    letter-spacing: var(--e-global-typography-9c5aacb-letter-spacing);
  }
  .elementor-23 .elementor-element.elementor-element-ecdaa8c .elementor-button {
    font-size: var(--e-global-typography-9c5aacb-font-size);
    line-height: var(--e-global-typography-9c5aacb-line-height);
    letter-spacing: var(--e-global-typography-9c5aacb-letter-spacing);
  }
  .elementor-23 .elementor-element.elementor-element-6ac822d3 {
    --padding-top: 120px;
    --padding-bottom: 0px;
    --padding-left: 20px;
    --padding-right: 20px;
  }
  .elementor-23 .elementor-element.elementor-element-61cf8d7e {
    top: -3px;
  }
  .elementor-23 .elementor-element.elementor-element-bf17f91 .elementor-heading-title {
    font-size: var(--e-global-typography-0d42e32-font-size);
    line-height: var(--e-global-typography-0d42e32-line-height);
    letter-spacing: var(--e-global-typography-0d42e32-letter-spacing);
  }
  .elementor-23 .elementor-element.elementor-element-665773ae .elementor-heading-title {
    font-size: var(--e-global-typography-text-font-size);
    line-height: var(--e-global-typography-text-line-height);
    letter-spacing: var(--e-global-typography-text-letter-spacing);
  }
  .elementor-23
    .elementor-element.elementor-element-66753672
    .elementor-field-group
    .elementor-field,
  .elementor-23 .elementor-element.elementor-element-66753672 .elementor-field-subgroup label {
    font-size: var(--e-global-typography-text-font-size);
    line-height: var(--e-global-typography-text-line-height);
    letter-spacing: var(--e-global-typography-text-letter-spacing);
  }
  .elementor-23 .elementor-element.elementor-element-17bb629c {
    --gap: 60px 60px;
    --row-gap: 60px;
    --column-gap: 60px;
  }
  .elementor-23 .elementor-element.elementor-element-55aebe25 .elementor-heading-title {
    font-size: var(--e-global-typography-8c04063-font-size);
    line-height: var(--e-global-typography-8c04063-line-height);
    letter-spacing: var(--e-global-typography-8c04063-letter-spacing);
  }
  .elementor-23 .elementor-element.elementor-element-659658b6 .elementor-heading-title {
    font-size: var(--e-global-typography-text-font-size);
    line-height: var(--e-global-typography-text-line-height);
    letter-spacing: var(--e-global-typography-text-letter-spacing);
  }
  .elementor-23 .elementor-element.elementor-element-2f97fd9f {
    text-align: start;
  }
  .elementor-23 .elementor-element.elementor-element-2f97fd9f .elementor-heading-title {
    font-size: var(--e-global-typography-text-font-size);
    line-height: var(--e-global-typography-text-line-height);
    letter-spacing: var(--e-global-typography-text-letter-spacing);
  }
  .elementor-23 .elementor-element.elementor-element-115ef1fe {
    text-align: start;
  }
  .elementor-23 .elementor-element.elementor-element-115ef1fe .elementor-heading-title {
    font-size: var(--e-global-typography-3b0f9a8-font-size);
    line-height: var(--e-global-typography-3b0f9a8-line-height);
    letter-spacing: var(--e-global-typography-3b0f9a8-letter-spacing);
  }
  .elementor-23 .elementor-element.elementor-element-2a646bc6 .elementor-heading-title {
    font-size: var(--e-global-typography-8c04063-font-size);
    line-height: var(--e-global-typography-8c04063-line-height);
    letter-spacing: var(--e-global-typography-8c04063-letter-spacing);
  }
  .elementor-23
    .elementor-element.elementor-element-2b7aa0b0
    .elementor-icon-list-item
    > .elementor-icon-list-text,
  .elementor-23 .elementor-element.elementor-element-2b7aa0b0 .elementor-icon-list-item > a {
    font-size: var(--e-global-typography-text-font-size);
    line-height: var(--e-global-typography-text-line-height);
    letter-spacing: var(--e-global-typography-text-letter-spacing);
  }
  .elementor-23 .elementor-element.elementor-element-661c92d9 {
    --gap: 60px 60px;
    --row-gap: 60px;
    --column-gap: 60px;
  }
  .elementor-23 .elementor-element.elementor-element-424bc1a5 .elementor-heading-title {
    font-size: var(--e-global-typography-8c04063-font-size);
    line-height: var(--e-global-typography-8c04063-line-height);
    letter-spacing: var(--e-global-typography-8c04063-letter-spacing);
  }
  .elementor-23
    .elementor-element.elementor-element-6db998d2
    .elementor-icon-list-item
    > .elementor-icon-list-text,
  .elementor-23 .elementor-element.elementor-element-6db998d2 .elementor-icon-list-item > a {
    font-size: var(--e-global-typography-text-font-size);
    line-height: var(--e-global-typography-text-line-height);
    letter-spacing: var(--e-global-typography-text-letter-spacing);
  }
  .elementor-23 .elementor-element.elementor-element-101b93e3 .elementor-heading-title {
    font-size: var(--e-global-typography-8c04063-font-size);
    line-height: var(--e-global-typography-8c04063-line-height);
    letter-spacing: var(--e-global-typography-8c04063-letter-spacing);
  }
  .elementor-23 .elementor-element.elementor-element-28ae179c {
    --grid-row-gap: 20px;
  }
  .elementor-23
    .elementor-element.elementor-element-28ae179c
    .elementor-posts-container
    .elementor-post__thumbnail {
    padding-bottom: calc(1 * 100%);
  }
  .elementor-23 .elementor-element.elementor-element-28ae179c:after {
    content: '1';
  }
  .elementor-23 .elementor-element.elementor-element-28ae179c .elementor-post__thumbnail__link {
    width: 20%;
  }
  .elementor-23 .elementor-element.elementor-element-28ae179c .elementor-post__title,
  .elementor-23 .elementor-element.elementor-element-28ae179c .elementor-post__title a {
    font-size: var(--e-global-typography-3b0f9a8-font-size);
    line-height: var(--e-global-typography-3b0f9a8-line-height);
    letter-spacing: var(--e-global-typography-3b0f9a8-letter-spacing);
  }
  .elementor-23 .elementor-element.elementor-element-28ae179c .elementor-post__excerpt p {
    font-size: var(--e-global-typography-text-font-size);
    line-height: var(--e-global-typography-text-line-height);
    letter-spacing: var(--e-global-typography-text-letter-spacing);
  }
  .elementor-23 .elementor-element.elementor-element-333ccb52 {
    text-align: center;
  }
  .elementor-23
    .elementor-element.elementor-element-5dae2f09
    .elementor-icon-list-item
    > .elementor-icon-list-text,
  .elementor-23 .elementor-element.elementor-element-5dae2f09 .elementor-icon-list-item > a {
    font-size: var(--e-global-typography-c14f5c3-font-size);
    line-height: var(--e-global-typography-c14f5c3-line-height);
    letter-spacing: var(--e-global-typography-c14f5c3-letter-spacing);
  }
}
@media (min-width: 768px) {
  .elementor-23 .elementor-element.elementor-element-88d43e5 {
    --width: 290px;
  }
  .elementor-23 .elementor-element.elementor-element-15d629b5 {
    --width: 100%;
  }
  .elementor-23 .elementor-element.elementor-element-5e7db124 {
    --width: 60%;
  }
  .elementor-23 .elementor-element.elementor-element-251d5f38 {
    --width: 40%;
  }
  .elementor-23 .elementor-element.elementor-element-2d6a2706 {
    --width: 100%;
  }
  .elementor-23 .elementor-element.elementor-element-65b0bed5 {
    --width: 130px;
  }
  .elementor-23 .elementor-element.elementor-element-10fbac04 {
    --width: 100%;
  }
}
@media (max-width: 1024px) and (min-width: 768px) {
  .elementor-23 .elementor-element.elementor-element-5e7db124 {
    --width: 100%;
  }
  .elementor-23 .elementor-element.elementor-element-251d5f38 {
    --width: 70%;
  }
}
